.benefits {
  background-color: $color-bg-secondary;
  padding-top: 75px;
  padding-bottom: 125px;

  @include vp-1199 {
    padding-top: 95px;
    padding-bottom: 90px;
  }

  @include vp-767 {
    padding-top: 65px;
    padding-bottom: 65px;
  }
}

.benefits h2 {
  @include text-alumnisans-54-65-600;
  margin-top: 33px;
  margin-bottom: 50px;
  text-align: center;

  @include vp-1199 {
    margin-top: 0;
    margin-bottom: 47px;
  }

  @include vp-767 {
    margin-top: 0;
    margin-bottom: 50px;
  }
}

.benefits__wrapper {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;

  @include vp-1199 {
    padding-left: 45px;
    padding-right: 45px;
  }

  @include vp-767 {
    padding-left: 0;
    padding-right: 0;
  }
}

.benefits__list {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 240px 1fr;
  grid-template-rows: auto  min-content auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  column-gap: 55px;
  row-gap: 20px;

  @include vp-1199 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content  min-content min-content;
    column-gap: 30px;
    row-gap: 45px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 39px;
  }

  &::before {
    content: "";
    height: 1px;
    background-color: rgba(209, 10, 66, 0.2);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: center;

    @include vp-1199 {
      display: none;
    }
  }

  &::after {
    content: "";
    height: 1px;
    background-color: rgba(209, 10, 66, 0.2);
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    align-self: center;

    @include vp-1199 {
      display: none;
    }
  }
}

.benefits__item {
  list-style-type: none;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content;
  column-gap: 30px;
  align-items: start;

  @include vp-1199 {
    grid-template-columns: min-content 1fr;
    border-bottom: none;
    padding-bottom: 0;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 47px;
    padding-right: 45px;
  }

  &--left {
    margin-left: 20px;

    @include vp-1199 {
      margin-left: 0;
    }
  }

  &--right {
    margin-left: 5px;

    @include vp-1199 {
      margin-left: 0;
    }
  }

  &--bottom {
    align-items: end;
    align-self: end;

    @include vp-767 {
      align-items: center;
      align-self: center;
    }
  }
}

.benefits__item h3 {
  @include text-roboto-22-33-700;
  grid-column: 2 / 3;
  margin-top: 0;
  margin-bottom: 5px;

  @include vp-1199 {
    @include text-roboto-20-20-700;
    margin-top: 0;
    margin-bottom: 10px;
  }

  @include vp-767 {
    margin-bottom: 5px;
  }
}

.benefits__item p {
  @include text-roboto-16-22-300;
  grid-column: 2 / 3;
  margin-top: 0;
  margin-bottom: auto;

  @include vp-767 {
    text-align: center;
    margin-top: 2px;
  }
}

.benefits__value {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  justify-content: start;

  @include vp-767 {
    order: -1;
    gap: 3px;
    margin-bottom: 10px;
  }
}

.benefits__number p {
  @include text-roboto-70-60-700;
  margin-top: 0;
  margin-bottom: 0;
  background-image: $color-text-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include vp-1199 {
    @include text-roboto-58-45-700;
  }
}

.benefits__unit p {
  @include text-roboto-14-21-400;
  margin-top: 0;
  margin-bottom: 0;
}

.benefits__item--top h3 {
  @include vp-1199 {
    margin-top: 0;
    margin-bottom: 3px;
  }

  @include vp-767 {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

.benefits__item--top p {
  @include vp-767 {
    margin-top: 0;
  }
}

.benefits__item--bottom h3 {
  margin-top: 0;
  margin-bottom: 5px;

  @include vp-1199 {
    margin-top: 3px;
    margin-bottom: 5px;
  }

  @include vp-767 {
    margin-bottom: 5px;
  }
}

.benefits__item--bottom p {
  margin-top: 0;
  margin-bottom: 0;

  @include vp-1199 {
    margin-top: 3px;
  }

  @include vp-767 {
    margin-top: 0;
  }
}

.benefits__item--accent {
  position: relative;
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  background-color: #1c3374;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  padding: 45px 30px 58px;
  color: $color-text-white;
  border-bottom: none;

  @include vp-1199 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 0;
    padding: 25px 115px 36px;
  }

  @include vp-767 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 40px 55px 45px;
    width: 100%;
  }
}

.benefits__item--accent h3 {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.benefits__item--accent p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0;
  margin-top: auto;
}

.benefits__unit--accent p {
  @include text-roboto-26-28-700;
  margin-top: 0;
  margin-bottom: 0;

  @include vp-1199 {
    @include text-roboto-22-24-700;
  }
}

.benefits__number--accent p {
  @include text-roboto-74-90-700;
  background-image: none;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;

  @include vp-1199 {
    @include text-roboto-74-85-700;
  }

  @include vp-767 {
    @include text-roboto-74-74-700;
  }
}

.benefits__value--accent {
  margin-bottom: 40px;

  @include vp-1199 {
    margin-bottom: 20px;
  }

  @include vp-767 {
    gap: 0;
    margin-bottom: 10px;
  }
}

.benefits__item--top .benefits__number {
  @include vp-1199 {
    margin-bottom: 3px;
  }

  @include vp-767 {
    margin-bottom: 1px;
  }
}

.benefits__item--top .benefits__value {
  @include vp-767 {
    gap: 1px;
    margin-bottom: 7px;
  }
}

.benefits__item--bottom .benefits__number {
  @include vp-767 {
    margin-bottom: 1px;
  }
}

.benefits__item--bottom .benefits__value {
  @include vp-767 {
    margin-top: 7px;
    margin-bottom: 7px;
    gap: 2px;
  }
}
