.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px 65px 68px;
  background-color: $color-bg-primary;
  width: 100%;

  @include vp-1199 {
    padding: 65px 118px 70px;
    width: 442px;
  }

  @include vp-767 {
    padding: 55px 42px 54px;
    width: 290px;
  }

  &:hover {
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: block;
      border: 7px solid;
      border-image-source: $color-button-bg-gradient;
      border-image-slice: 1;
      cursor: pointer;
    }

    & .btn--dark {
      background: $color-button-bg-gradient;
      border: none;
      margin-bottom: 2px;
      margin-top: 2px;
      color: $color-text-white;
    }
  }

  &:focus-within {
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: block;
      border: 7px solid;
      border-image-source: $color-button-bg-gradient;
      border-image-slice: 1;
      cursor: pointer;
    }

    & .btn--dark {
      background: $color-button-bg-gradient;
      border: none;
      margin-bottom: 2px;
      margin-top: 2px;
      color: $color-text-white;
      outline: none;
    }
  }

  &::before {
    @include text-roboto-100-150-700;
    color: rgba(232, 232, 232, 0.5);
    content: attr(data-price);
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include vp-767 {
      font-size: 78px;
      top: 47%;
    }
  }
}

.card h3 {
  @include text-roboto-26-28-700;
  margin-top: 0;
  margin-bottom: 10px;

  @include vp-767 {
    @include text-roboto-22-24-700;

    margin-bottom: 5px;
  }
}

.card strong {
  @include text-roboto-60-90-700;

  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 5px;
  margin-top: 0;
  margin-bottom: 38px;
  z-index: 1;
  color: $color-text-accent;

  @include vp-1199 {
    margin-bottom: 35px;
  }

  @include vp-767 {
    @include text-roboto-48-72-700;
    margin-bottom: 30px;
    gap: 5px;
  }
}

.card svg {
  @include vp-767 {
    height: 32px;
  }
}

.card p {
  @include text-roboto-16-24-400;
  margin-top: 0;
  margin-bottom: 65px;
  color: $color-text-secondary;

  @include vp-767 {
    margin-bottom: 55px;
  }
}

.card button {
  align-self: center;
  padding: 22px 42px;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 1;

  @include vp-767 {
    padding-bottom: 25px;
    padding-top: 25px;
  }
}

.card span {
  font-family: "Rouble", "Arial", sans-serif;
}
