.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px 70px;
  background-color: $color-bg-primary;
  width: 360px;

  @include vp-1199 {
    grid-column: 2 / 6;
    padding: 68px 118px;
    width: 442px;
  }

  @include vp-767 {
    grid-column: 1 / 2;
    padding: 45px 42px;
    width: 290px;
  }

  @include hover-focus {
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: block;
      border: 7px solid;
      border-image-source: $color-button-bg-gradient;
      border-image-slice: 1;
      cursor: pointer;
    }
  }

  &::before {
    @include text-roboto-100-150-700;
    color: rgba(232, 232, 232, 0.5);
    content: attr(data-price);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.card h3 {
  @include text-roboto-26-28-700;
  margin-top: 0;
  margin-bottom: 10px;

  @include vp-767 {
    @include text-roboto-22-24-700;

    margin-bottom: 5px;
  }
}

.card strong {
  @include text-roboto-60-90-700;

  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 0;
  margin-bottom: 35px;
  z-index: 1;

  @include vp-767 {
    @include text-roboto-48-72-700;
    margin-bottom: 35px;
    gap: 0;
  }
}

.card p {
  @include text-roboto-16-24-400;
  margin-top: 0;
  margin-bottom: 70px;
  color: $color-text-secondary;

  @include vp-767 {
    margin-bottom: 55px;
  }
}

.card button {
  align-self: stretch;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 1;
}

.card span {
  font-family: "Rouble", "Arial", sans-serif;
}
