.footer {
  background-color: $color-bg-footer;
}

.footer__nav  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;

  @include vp-1199 {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    row-gap: 30px;
  }
}
