.footer {
  background-color: $color-bg-footer;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;

  @include vp-1199 {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    column-gap: 30px;
    row-gap: 13px;
    grid-auto-flow: column;
    padding-bottom: 55px;
  }
}

.footer__logo {
  align-self: end;

  @include vp-1199 {
    align-self: center;
  }
}

.footer__social {
  grid-row: 4 / 5;
  grid-column: 1;

  @include vp-767 {
    margin-top: 15px;
  }
}
