.hero {
  background: conic-gradient(from 151deg at 16.03% 39.06%, #003D85 32.23633825778961deg, #B80027 313.3060026168823deg, #003D85);
}

.hero__wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 12% 22% 65px 1fr;
  grid-template-rows: 110px min-content min-content min-content 1fr;


  @include vp-1199 {
    grid-template-columns: 17% 31% 30px 1fr;
    grid-template-rows: 50px min-content min-content min-content 1fr;
    padding-top: 82px;
    padding-bottom: 82px;
  }

  @include vp-767 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 110px;
    padding-bottom: 80px;
  }
}


.hero h1 {
  @include title-1;

  margin-top: 15px;
  margin-bottom: 50px;
  color:  $color-text-white;

  grid-column: 2 / 3;
  grid-row: 3 / 4;
  text-align: right;

  @include vp-1199 {
    margin-top: 10px;
    margin-bottom: 35px;
  }

  @include vp-767 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    width: min-content;
    justify-self: end;
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

.hero p {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 55px;
  color:  $color-text-white;
  font-size: 48px;
  line-height: 58px;
  font-family: $ff-alumnisans;
  font-weight: 600;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-align: right;
  text-transform: lowercase;
  align-self: end;

  @include vp-1199 {
    margin-right: 5px;
    margin-top: 0;
    font-size: 34px;
    line-height: 41px;
  }

  @include vp-767 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 28px;
    line-height: 34px;

    align-self: start;
  }
}

.hero ul {
  margin-top: 135px;
  margin-bottom: 0;
  margin-right: 10px;
  padding-left: 0;
  grid-column: 1 / 2;
  grid-row: 3 / 4;

  @include vp-1199 {
    margin-top: 95px;
    margin-right: 0;
  }

  @include vp-767 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-top: 90px;
    margin-right: 30px;
  }
}

.hero li {
  @include text-small;

  list-style-type: none;
  color: $color-text-white;
  text-align: right;
}

.hero a {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  margin-bottom: auto;
  justify-self: end;
  padding-left: 55px;
  padding-right: 55px;

  @include vp-1199 {
    //grid-column: 2 / 4;
    //grid-row: 4 / 5;
    padding-left: 35px;
    padding-right: 35px;
  }

  @include vp-767 {
    width: 100%;
    grid-column: 1 / 4;
  }
}

.hero picture {
  grid-column: 4 / 5;
  grid-row: 1 / -1;
  padding: 0;

  @include vp-1199 {
  }

  @include vp-767 {
    display: none;
  }
}

.hero img {
  width: 500px;
  height: 556px;

  @include vp-1199 {
    width: 324px;
    height: 390px;
  }
}
