.promo {
  padding-top: 135px;
  padding-bottom: 125px;

  @include vp-1199 {
    padding-top: 95px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 65px;
    padding-bottom: 65px;
  }
}

.promo__list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 40px;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;

  @include vp-1199 {
    column-gap: 30px;
    row-gap: 30px;
    max-width: 678px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    max-width: 290px;
  }
}

.promo__item {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 25px 25px 15px;

  border: 7px solid;
  border-image-source: $color-button-bg-gradient;
  border-image-slice: 1;

  @include vp-1199 {
    padding: 25px 25px 20px;
  }

  @include vp-767 {
    align-items: center;
    padding-top: 35px;
    padding-bottom: 30px;
  }
}

.promo h2 {
  @include text-alumnisans-54-65-600;
  text-align: center;
  margin-top: 0;
  margin-bottom: 35px;

  @include vp-1199 {
    margin-bottom: 40px;
  }
}

.promo__item h3 {
  @include text-roboto-26-28-700;
  margin-top: 0;
  margin-bottom: 10px;
}

.promo__item p {
  @include text-roboto-16-24-400;
  margin-top: 0;
  margin-bottom: 0;

  @include vp-1199 {
    margin-bottom: 30px;
  }

  @include vp-767 {
    margin-bottom: 10px;
    text-align: center;
  }
}

.promo__item a {
  @include text-roboto-12-18-700;
  text-transform: uppercase;
  position: relative;
  align-self: start;
  margin-top: auto;
  padding-top: 10px;
  padding-bottom: 10px;

  @include vp-767 {
    align-self: center;
  }

  @include hover {
    opacity: 0.7;
  }

  @include focus {
    padding: 10px;
    margin-left: -10px;
    outline: 1px solid $color-button-border-dark;

    &::after {
      display: none;
    }
  }

  @include active {
    &::after {
      display: block;
    }
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    border-bottom: 1px solid $color-text-base;
  }
}

.promo__item--first {
  display: grid;
  grid-template-columns: 1fr 1fr;

  grid-row: 1 / 3;
  padding: 0;

  border: none;

  @include vp-1199 {
    grid-template-columns: 1fr 400px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  @include vp-767 {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
  }
}

.promo__description {
  display: flex;
  flex-direction: column;
  background-color: $color-bg-banner;
  color: $color-text-white;

  padding: 44px 44px 35px;

  @include vp-767 {
    align-items: center;
    padding-bottom: 30px;
  }
}

.promo__img {
  flex-grow: 1;
  height: 462px;

  @include vp-767 {
    height: 299px;
  }
}

.promo__img img {
  width: 100%;
  min-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.promo__item--first h3 {
  @include text-roboto-28-28-700;
  grid-column: 1 / 2;
  margin-top: 0;
  margin-bottom: 20px;
  width: min-content;

  @include vp-767 {
    text-align: center;
  }
}

.promo__item--first p {
  @include text-roboto-18-25-400;
  grid-column: 1 / 2;
  margin-top: 0;
  margin-bottom: 0;

  @include vp-767 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.promo__item--first strong {
  @include text-roboto-70-70-700;
}

.promo__item--first a {
  color: $color-text-white;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  grid-column: 1 / 2;
  margin-top: auto;
  padding-top: 10px;
  padding-bottom: 10px;


  @include vp-767 {
    align-self: center;
  }

  @include hover {
    opacity: 0.8;
  }

  @include focus {
    padding: 10px;
    margin-left: -10px;
    outline: 1px solid $color-button-border-light;

    &::after {
      display: none;
    }
  }

  @include active {
    &::after {
      display: block;
    }
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 30px;
    width: 100%;
    height: 1px;
    border: none;
    background-color: $color-text-white;

    @include vp-1199 {
      top: 25px;
    }
  }


}

.promo__item--disabled a {
  opacity: 0.3;
}
