.reviews {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include vp-1199 {
    padding-top: 90px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 65px;
    padding-bottom: 70px;
  }
}

.reviews h2 {
  @include text-alumnisans-54-65-600;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}

.reviews__slider-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  column-gap: 20px;

  @include vp-1199 {
    grid-template-columns: 55px 1fr 55px;
    column-gap: 0;
  }

  @include vp-767 {
    grid-template-columns: 30px 1fr 30px;
  }
}

.reviews__slider {
  overflow: hidden;
  grid-column: 2 / 3;
  box-shadow: 0 0 40px $color-shadow-primary;
}

.reviews__item {
  background-color: $color-bg-accent;
  padding: 55px 60px 40px;
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 80px 1fr;
  column-gap: 30px;

  @include vp-1199 {
    padding-top: 60px;
    padding-left: 65px;
    padding-right: 65px;
  }

  @include vp-767 {
    grid-template-columns: 1fr 1fr;
    padding: 40px 30px 20px;
    column-gap: 13px;
    row-gap: 5px;
  }
}

.reviews__img {
  grid-row: 1 / 3;
  align-self: start;
  justify-self: start;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin-top: 10px;

  @include vp-767 {
    grid-column: 1 / 2;
    margin-top: 0;
    margin-left: 15px;
    width: 68px;
    height: 68px;
    justify-self: end;
  }
}

.reviews cite {
  @include text-roboto-20-26-700;
  margin-top: 0;
  margin-bottom: 15px;
  text-align: left;
  color: $color-text-white;
  font-style: normal;

  @include vp-767 {
    grid-column: 2 / 3;
    padding-top: 10px;
  }
}

.reviews__item p {
  @include text-roboto-16-22-400;
  color: $color-text-white;
  grid-column: 2 / 3;
  margin-top: 0;

  @include vp-767 {
    grid-column: 1 / 3;
    text-align: center;
  }
}


.reviews__arrow {
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 56px;
  height: 56px;
  cursor: pointer;
  border-radius: 50%;

  @include hover-focus {
    border: 1px solid $color-button-border-dark;
  }

  @include active {
    background-color: $color-button-border-dark;
    color: $color-text-white;
  }

  &:active {
    border: 1px solid $color-button-border-dark;
    background-color: $color-button-border-dark;
    color: $color-text-white;
  }

  &--prev {
    grid-column: 1 / 2;
    justify-self: end;
    margin-right: 5px;

    @include vp-1199 {
      margin-right: 20px;
    }

    @include vp-767 {
      margin-right: 0;
    }
  }

  &--next {
    grid-column: 3 / 4;
    justify-self: start;
    margin-left: 5px;

    @include vp-1199 {
      margin-left: 20px;
    }

    @include vp-767 {
      margin-left: 0;
    }
  }

}

.reviews__arrow.swiper-button-disabled {
  opacity: 0.3;
}
