.site-nav {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  gap: 40px;

  @include vp-1199 {
    gap: 30px;
  }

  @include vp-767 {
    display: contents;
  }
}

.site-nav li {
  list-style-type: none;
  width: 50%;
}

.site-nav a {
  @include text-roboto-14-16-400;
  color: $color-text-white;
  text-decoration: none;
  position: relative;

  @include vp-767 {
    @include text-roboto-16-18-400;
  }

  @include hover {
    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: $color-bg-primary;
    }
  }

  @include focus {
    outline: 1px solid $color-bg-primary;
    padding: 5px 10px;
  }

  @include active {
    outline: none;
  }
}

.site-nav--disabled a {
  opacity: 0.4;
}
