.social {
  display: flex;
  gap: 10px;
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: $color-text-base;
  background-color: $color-bg-primary;
  border-radius: 50%;
  width: 25px;
  height: 25px;

  @include hover-focus {
    background-color: $color-text-accent;
    color: $color-text-white;
    outline: none;
  }

  @include active {
    background-color: $color-text-base;
  }

  &:active {
    background-color: $color-text-base;
    color: $color-text-white;
  }
}

.social--disable a {
  opacity: 0.3;
}
