.tabs {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 35px;

  @include vp-1199 {
    gap: 45px;
  }

  @include vp-767 {
    gap: 30px;
  }
}

.tabs__controls {
  display: flex;
  justify-content: center;
  gap: 40px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
  align-self: center;
  flex-wrap: wrap;

  @include vp-1199 {
    gap: 50px;
  }

  @include vp-767 {
    gap: 38px;
  }
}

.tabs__control {
  @include text-roboto-20-30-400;
  cursor: pointer;
  min-width: auto;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  border: none;
  color: rgba(16, 38, 84, 0.5);

  &:hover {
    color: $color-text-base;
    box-shadow: 0 2px 0 0 #ed0233;
  }

  &:focus {
    color: $color-text-base;
    box-shadow: 0 2px 0 0 #ed0233;
    outline: none;
  }

  &.is-active {
    content: "";
    color: $color-text-base;
    box-shadow: 0 2px 0 0 #ed0233;
  }

  &:disabled {
    box-shadow: none;
  }
}

.tabs__content {
  transition: height 0.3s;
}

.tabs__element {
  display: grid;
  column-gap: 40px;
  row-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;

  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @include vp-1199 {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }

  @include vp-767 {
    row-gap: 32px;
  }
}

.tabs--unset .tabs__content {
  height: 100px;
}

.tabs--unset .tabs__element {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
