.trainers {
  padding-top: 50px;
  padding-bottom: 105px;

  @include vp-1199 {
    padding-top: 5px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    margin-top: 0;
    padding-top: 3px;
    padding-bottom: 70px;
  }
}

.trainers__slider-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  position: relative;

  @include vp-1199 {
    padding-left: 55px;
    padding-right: 55px;
  }

  @include vp-767 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.trainers__slider {
  overflow: hidden;
  display: flex;
  max-width: 1920px;
  width: 100%;
  height: auto;
}

.trainers__wrapper {
  box-sizing: content-box;
}

.trainers__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

.trainers__item {
  position: relative;
  width: 100%;
}

.trainers__overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  align-items: center;
  justify-content: end;
  padding-bottom: 17px;

  @include hover-focus {
    padding: 52px 35px 35px;
    background-color: rgba(16, 38, 84, 0.89);
    justify-content: start;
    outline: none;

    @include vp-767 {
      padding: 43px 35px 35px;
    }

    & h3 {
      margin-bottom: 0;
    }

    & p {
      display: block;
      margin-bottom: 30px;
    }

    & ul {
      display: block;
    }

    & li {
      margin-bottom: 12px;
    }
  }

  &:active {
    padding: 52px 35px 35px;
    background-color: rgba(16, 38, 84, 0.89);
    justify-content: start;

    @include vp-767 {
      padding: 40px 35px 35px;
    }

    & h3 {
      margin-bottom: 0;
    }

    & p {
      display: block;
      margin-bottom: 30px;
    }

    & ul {
      display: block;
    }

    & li {
      margin-bottom: 12px;
    }
  }
}

.trainers__overlay h3 {
  @include text-roboto-18-27-700;
  color: $color-text-white;
  margin-top: 0;
  margin-bottom: 5px;
}

.trainers__overlay p {
  @include text-roboto-16-24-400;

  display: none;
  color: $color-text-white;
  margin-top: 0;
  margin-bottom: 45px;
}

.trainers__overlay ul {
  display: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 35px;
  overflow: scroll;

  @include vp-767 {
    padding-left: 13px;
  }
}

.trainers__overlay li {
  @include text-roboto-14-21-400;

  color: $color-text-white;
}

.trainers__img {
  height: auto;
  width: auto;
  object-fit: cover;

  @include vp-1199 {
    aspect-ratio: 0.92;
  }

  @include vp-767 {
    aspect-ratio: 0.84;
  }
}

.trainers__slide-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: min-content;
}

.trainers__slide-description ul,
.trainers__slide-description p {
  display: none;
}

.trainers__slide picture {
  margin: 0;
  padding: 0;
}

.trainers__slide img {
  margin: 0;
  padding: 0;
  min-width: 100%;
  width: 100%;
  height: 100%;
}

.trainers__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 56px;
  height: 56px;
  cursor: pointer;
  color: #afafaf;
  border-radius: 50%;

  &:hover{
    border: 1px solid $color-text-accent;
    color: $color-text-accent;
  }

  &:focus{
    border: 1px solid $color-text-accent;
    color: $color-text-accent;
    outline: none;
  }

  &:active {
    border: 1px solid $color-text-accent;
    background-color: $color-button-border-dark;
    color: $color-text-white;
  }

  &.disabled {
    border: none;
    color: $color-text-accent;
    opacity: 0.3;
    pointer-events: none;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &--prev {
    left: -75px;

    @include vp-1199 {
      left: -20px;
    }
  }

  &--next {
    right: -75px;
  }

  @include vp-1199 {
    right: -20px;
  }
}

.trainers h2 {
  @include text-alumnisans-54-65-600;
  margin-top: 0;
  margin-bottom: 50px;

  @include vp-1199 {
    margin-top: 35px;
    margin-bottom: 30px;
    text-align: center;
  }

  @include vp-767 {
    margin-top: 0;
    margin-bottom: 40px;
  }
}
