.video {
  background-color: $color-default-black;
}

.video__wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 54, 122, 0.5);
    z-index: 1;
  }
}

.video img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  object-fit: cover;
}

.video button {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  transform: translate(-50%, -50%);
  border: none;
  background-color: transparent;
  background-image: url("../img/svg/play-default.svg");
  width: 100px;
  height: 100px;
  z-index: 2;
  cursor: pointer;

  @include vp-1199 {
    width: 72px;
    height: 72px;
  }

  &:hover {
    background-image: url("../img/svg/play-hover.svg");
  }

  &:focus {
    background-image: url("../img/svg/play-hover.svg");
    outline: none;
  }

  &:active {
    background-image: url("../img/svg/play-hover.svg");
  }

  &:disabled {
    background-image: url("../img/svg/play-disabled.svg");
    pointer-events: none;
  }
}

.video iframe {
  width: 100%;
  height: 100%;
  border: none;
}
