@mixin title-1 {
  font-size: 92px;
  line-height: 110px;
  font-family: $ff-alumnisans;
  letter-spacing: 4.6px;
  font-weight: 600;
  text-transform: uppercase;
  outline: 2px $color-text-white;

  @include vp-1199 {
    font-size: 72px;
    line-height: 86px;
    letter-spacing: 3.6px;
    text-transform: lowercase;
  }
}

@mixin title-2 {
  font-size: 48px;
  line-height: 72px;
  font-family: $ff-alumnisans;
  letter-spacing: 1.44px;
  font-weight: 600;

  @include vp-1199 {
    font-size: 42px;
    line-height: 64px;
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.96px;
  }
}

@mixin title-3 {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;

  @include vp-1199 {
    font-size: 26px;
    line-height: 28px;
  }
}

@mixin text-large {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

@mixin text-regular {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

@mixin text-small {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

@mixin text-tabs {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-transform: lowercase;

  @include vp-1199 {
    font-size: 18px;
    line-height: 26px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 24px;
  }
}

@mixin text-number {
  font-size: 60px;
  line-height: 90px;
  font-weight: 700;
}

@mixin text-number-big {
  font-size: 100px;
  line-height: 150px;
  font-weight: 700;
}
